
<html>
        <head>
            <meta chartset="utf-8">
            <title>Dojos</title>
            <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_stylesheet.css') }}"> -->
            <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script> -->
        </head>
        <body>
           <h1>Dojos Regirstarion Page</h1>
           <form action ="/dojos/new"  method ="post">
                 Name: <input type="text" name="name">
                 Email: <input type="text" email="email">
                 <input type="submit" value="create user">
           </form>
        </body>
    </html>
